<ion-header>
  <ion-toolbar>    
    <ion-buttons left>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Informações do Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="contato">
    <img src="{{contato.img}}" />
    <ion-card-content>
      <ion-card-title>
        <b>{{contato.nome}}</b>
      </ion-card-title>
      <p>{{contato.empresa}}</p>
      <p>{{contato.telefone}}</p>
    </ion-card-content>
    <ion-content>
      <ion-list *ngIf="produtos">
        <ion-item *ngFor="let item of produtos">
          <ion-avatar item-start>
            <img src="{{item.img}}">
          </ion-avatar>
          <h2>{{item.nome}}</h2>
          <p>{{item.descricao}}</p>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-card>
</ion-content>