<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title *ngIf="contatoIdToUpdate!=0">
      Atualizar Contato {{contatoIdToUpdate}}
    </ion-title>
    <ion-title *ngIf="contatoIdToUpdate==0">
      <h3> Crear Novo Contato </h3>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <form [formGroup]="contatoForm" (ngSubmit)="onContatoFormSubmit()">
    <ion-item>
      <ion-label>Nome:</ion-label>
      <ion-input type="text" formControlName="nome"></ion-input>
      <ion-label *ngIf="contatoForm.get('nome').invalid && processValidation" [ngClass]="'error'"> Nome é requerido. </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Empresa</ion-label>
      <ion-input type="text" formControlName="empresa"></ion-input>
      <ion-label *ngIf="contatoForm.get('empresa').invalid && processValidation" [ngClass]="'error'"> Empresa é requerida. </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Telefone</ion-label>
      <ion-input type="text" formControlName="telefone"></ion-input>
      <ion-label *ngIf="contatoForm.get('telefone').invalid && processValidation" [ngClass]="'error'"> Telefone é requerido. </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Img</ion-label>
      <ion-input type="text" formControlName="img"></ion-input>
      <ion-label *ngIf="contatoForm.get('img').invalid && processValidation" [ngClass]="'error'"> Imagem é requerida. </ion-label>
    </ion-item>
    <ion-item>
      <button ion-button (click)="upload()">Upload</button>
    </ion-item>
    <button ion-button *ngIf="!contatoIdToUpdate">CREATE</button>
    <button ion-button *ngIf="contatoIdToUpdate">UPDATE</button>
    <button ion-button (click)="dismiss()">Voltar</button>
    <br/>
    <br/>
    <div *ngIf="statusCode; else processing">
      <div *ngIf="statusCode === 201" [ngClass]="'success'">
        Contato adicionado com sucesso.
      </div>
      <div *ngIf="statusCode === 409" [ngClass]="'success'">
        Contato já existe.
      </div>
      <div *ngIf="statusCode === 200" [ngClass]="'success'">
        Contato atualizado com sucesso.
      </div>
      <div *ngIf="statusCode === 204" [ngClass]="'success'">
        Contato deletado com sucesso.
      </div>
      <div *ngIf="statusCode === 500" [ngClass]="'error'">
        Internal Server Error.
      </div>
    </div>
    <ng-template #processing>
      <img *ngIf="requestProcessing" src="http://localhost:8100/assets/imgs/loading.png">
    </ng-template>
  </form>
</ion-content>